<footer>
  <div class="footer-inner">
    <div class="footer-brand">
      <img src="/img/logo.png" alt="Deliberate Pace Guiding logo" class="footer-logo">
      <div>
        <div class="footer-name">{{ .Site.Title }}</div>
        <a href="mailto:{{ .Site.Params.email }}" class="footer-link">{{ .Site.Params.email }}</a>
      </div>
    </div>
    <div class="footer-nav">
      <h4>Regions</h4>
      <ul>
        <li><a href="/appalachia/" class="footer-link">Appalachia</a></li>
        <li><a href="/alaska/" class="footer-link">Southeast Alaska</a></li>
        <li><a href="/juneau-cruise-excursions/" class="footer-link">Cruise Ship Excursions</a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <h4>Resources</h4>
      <ul>
        <li><a href="/packing-list/" class="footer-link">Packing List</a></li>
        <li><a href="/policies/" class="footer-link">Policies &amp; Terms</a></li>
        <li><a href="/#contact" class="footer-link">Get in Touch</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <a href="#" class="footer-back-to-top">Back to Top &uarr;</a>
    <p>&copy; {{ now.Year }} {{ .Site.Title }}. All rights reserved.</p>
  </div>
</footer>
